[submodule "components/argo-cd/submodule"]
	path = components/argocd/core/submodule
	url = https://github.com/argoproj/argo-cd.git
[submodule "components/traefik/submodule"]
	path = components/traefik/submodule
	url = https://github.com/traefik/traefik-helm-chart
[submodule "components/sealed-secrets/submodule"]
	path = components/sealed-secrets/submodule
	url = https://github.com/bitnami-labs/sealed-secrets
